  @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
.main-container{
    height: 100%;
    width: 100%;
    background-color:hsl(0, 0%, 100%);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.container-1{
    width: 45vw;
    height: 65vh;
    background-color:hsl(0, 0%, 100%);
    margin: auto;
    border-radius: 25px;
    text-align: right;
    box-shadow: rgba(152, 216, 244, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    
}
.container-1 div{
    padding-right: 2vw;
}
.container-2{
    background-color:hsla(241, 81%, 54%,0.8);
    width: 22.5vw;
    height: 65vh;
    border-radius: 25px;
    float: left;
    text-align: center;
    
}
 h3{
    text-align: right;
    padding-right: 15vw;
    padding-top: 2vw;
    color: hsla(224, 30%, 27%);
}
button{
    margin-right: 1.4vw;
    margin-top: 1vh;
    width: 18.9vw;
    height: 6vh;
    border-radius: 25px;
    color: white;
    background-color:hsl(224, 30%, 27%);
    border: none;
}
strong{
    color: black;
}
span{
    color: hsl(0, 0%, 65%);
}
 .div-1{
       color:hsl(0, 100%, 67%) ;
       background-color: hsla(0, 100%, 90%,0.2); 
       border-radius: 5px;
       padding: 0.6vw;
       margin-left: 24.5vw;
       margin-right: 2.9vh;
}
.div-2{
       color:hsl(39, 100%, 56%);
       background-color: hsla(60, 100%, 80%,0.2);
       border-radius: 5px;
       padding: 0.6vw;
       margin-left: 24.5vw;
       margin-right: 2.9vh;
}

.div-3{
       color:hsl(166, 100%, 37%);
       background-color: hsla(120, 100%, 90%,0.2); 
       border-radius: 5px;
       padding: 0.6vw;
       margin-left: 24.5vw;
       margin-right: 2.9vh;
}

.div-4{
       color:hsl(252, 100%, 67%) ;
       background-color: hsla(240, 100%, 90%,0.2); 
       border-radius: 5px;
       padding: 0.6vw;
       margin-left: 24.5vw;
       margin-right: 2.9vh;
}
h4{
    color: hsl(241, 100%, 89%);
    padding-top: 3vw;
    padding-left: 4vw;
}
.container-2 div{
    width: 10vw;
    height: 20vh;
    margin-left: 6vw;
    margin-top: 2vw;
    border-radius: 70%;
    padding-top: 2vw;
    padding-left: 2.8vw;
    background-color: hsla(256, 72%, 46%, 0.3);
}
.head-1{
     font-size: 4vw;
     color: white;
     padding-left: 0.1vw;
}
.para-1{
    color: hsl(241, 100%, 89%);;
    font-size: 1vw;
    margin-left: 0.3vw;
}
.head-2{
    font-size: 1.5vw;
    color: white;
    margin-left: 3vw;
    margin-top: 2.5vw;
}
.para-2{
    color: hsl(221, 100%, 96%); 
    font-size: 1vw;
    margin-left: 4vw;
    margin-top: 1.5vw;
}

@media  (max-width: 600px) {
    .main-container{
        height: 100%;
        width: 100%;
        background-color:hsl(0, 0%, 100%);
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
    .container-1{
        width: 100%;
        height: 100%;
        background-color:hsl(0, 0%, 100%);
    }
    .container-2{
        width: 100%;
        height: 46%;
        background-color:hsla(241, 81%, 54%,0.8);
        border-radius: 0 0 25px 25px;
        text-align: center;
        padding-top: 25px;
    }
    h4{
        color: hsl(241, 100%, 89%);
        margin-top: -2vh;
    }
    .container-2 div{
        background-color: hsla(256, 72%, 46%, 0.3);
        width: 35%;
        height: 45%;
        margin: auto;
        margin-top: 3vh;
        border-radius: 70%;
        padding-top: 5vh;
    
    }
    .head-1{
        color: white;
        font-size: 12vw;
    }
    .para-1{
        color: hsl(241, 100%, 89%);;
        font-size: 4vw;
    }
    .head-2{
        color: white;
        margin-top: -1vh;
        font-size: 6vw;
    }
    .para-2{
        color: hsl(221, 100%, 96%); 
        font-size: 3.6vw;
        margin-top: 1.8vh;
        margin-left: 20vw;
        margin-right: 18vw;
    }
    h3{
        color: hsla(224, 30%, 27%);
        margin-right: 55.6vw;
        /* padding-top: 16vh; */
        margin-top: 48vh;
    }
    strong{
        color: black;
    }
    span{
        color: hsl(0, 0%, 65%);
    }
    .div-1{
        margin-left: 7vw;
        margin-right: 7vw;
        padding: 1vh;
        color:hsl(0, 100%, 67%) ;
        background-color: hsla(0, 100%, 90%,0.2);
        border-radius: 4px;
        margin-top: -4vh;
    }
    .div-2{
        margin-left: 7vw;
        margin-right: 7vw;
        padding: 1vh;
        color:hsl(39, 100%, 56%);
        background-color: hsla(60, 100%, 80%,0.2);
        border-radius: 4px;
    }
    .div-3{
        margin-left: 7vw;
        margin-right: 7vw;
        padding: 1vh;
        color:hsl(166, 100%, 37%);
        background-color: hsla(120, 100%, 90%,0.2); 
        border-radius: 4px;
    }
    .div-4{
        margin-left: 7vw;
        margin-right: 7vw;
        padding: 1vh;
        color:hsl(252, 100%, 67%) ;
        background-color: hsla(240, 100%, 90%,0.2); 
        border-radius: 4px;
        margin-bottom: -1vh;
    }
    img{
        margin-left: 1.5vw;
        margin-right: 1.5vw;
    }
    .span{
        margin-left: 22vw;
    }
    button{
        margin-left: 8vw;
        margin-right: 12vw;
        margin-top: -30vh;
        width: 85vw;
        height: 6vh;
        border-radius: 25px;
        color: white;
        background-color:hsl(224, 30%, 27%);
        border: none;
    }
    
}
    
